:root {
  /*======fontsVariable=====*/
  --main_font-weight: 400;
  --secondary_font-weight: 700;
  --third_font-weight: 500;
  --main_font-size: 14 px;
  --secondary_font-size: 16 px;
  /*=======================*/

  /*====colorPalette=======*/
  --first_color-txt: #212121;
  --secondary_color-txt: #757575;
  --third_color-txt: #ffffff;
  --first-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --button-accent-color: #2196f3;
  /*========================*/
}
/*==========reset==========*/
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  display: block;
  color: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*======components=========*/
.accent-title {
  font-weight: var(--secondary_font-weight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.card-description {
  color: var(--secondary_color-txt);
  font-size: var(--secondary_font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--first_color-txt);
}
.active {
  color: var(--button-accent-color);
}

/*=========logo==========*/
.logo {
  font-family: raleway, sans-serif;
  font-weight: var(--secondary_font-weight);
  font-size: 26px;
  line-height: 1.19;
}
header .logo {
  margin-left: 215px;
}
.part_logo {
  color: var(--button-accent-color);
}
.logo-dark-theme {
  color: var(--third_color-txt);
}
/*=========end logo======*/

/*========header=========*/
.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  font-weight: var(--third_font-weight);
  font-size: var(--main_font-size);
  line-height: 1.14;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--button-accent-color);
}
.nav-link:not(:first-child) {
  margin-left: 50px;
}
.contact-inf {
  display: flex;
  align-items: center;
}

.contact-inf-link {
  color: var(--secondary_color-txt);
  font-weight: var(--third_font-weight);
  font-size: var(--main_font-size);
  line-height: 1.14;
}
.contact-inf-link:hover,
.contact-inf-link:focus {
  color: #2196f3;
}

/*==========end header====*/

/*=========hero===========*/

.hero-section {
  background-color: var(--first-bg-color);
}
.hero-title {
  color: var(--third_color-txt);
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-button {
  background-color: var(--button-accent-color);
  color: var(--third_color-txt);
}
/*=========end hero=========*/

/*========our work==========*/
.our-work-description_title {
  font-weight: var(--secondary_font-weight);
  font-size: var(--main_font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.our-work-description {
  font-size: var(--main_font-size);
  line-height: 1.71;
  color: var(--secondary_color-txt);
  letter-spacing: 0.03em;
}
/*====end our work=========*/

/*=====our team===========*/
.our-team-section {
  background-color: var(--secondary-bg-color);
}

.specialists-name {
  font-weight: var(--third_font-weight);
  font-size: var(--secondary_font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*=======end our team=====*/

/*=======footer===========*/
.footer-section {
  background-color: var(--first-bg-color);
}
.adress_description {
  color: var(--third_color-txt);
  font-size: var(--main_font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.contact-inf-item_dark {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--main_font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*========end our team=====*/

/*!!!!!!!!!Portfolio!!!!!!!*/

/*====portfolio buttons====*/
.products-button {
  font-weight: var(--third_font-weight);
  font-size: var(--secondary_font-size);
  line-height: 1.62;
}
.products-button:hover,
.products-button:focus {
  background-color: var(--button-accent-color);
  color: var(--third_color-txt);
}

.product-card-name {
  font-weight: var(--secondary_font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-card-description p {
  line-height: 1.87;
}

.conteiner {
  width: 1600px;
  margin: 0 auto;
}
header .conteiner {
  display: flex;
  align-items: center;
}
header .conteiner:last-child {
  margin-right: 0;
}
